@import "tailwindcss";

/* Custom properties  */
@layer base {
  :root {
    --color-text: #2C2C2C; 
    --color-_background: #FAFAFA;
    --color-primary: #964B00;
    --color-secondary: #F5EBDD;
    --color-accent: #7BAF9E;
  }

  body {
    background-color: var(--color-_background);
    color: var(--color-text);
  }
}

/* Extend Tailwind utilities */
@layer utilities {
  .text-text {
    color: var(--color-text);
  }

  .bg-_background {
    background-color: var(--color-_background);
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  }

  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }

  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
}